Django==4.1.9
django-filter==23.2
djangorestframework==3.14.0
djoser==2.2.0
flake8==6.0.0
flake8-isort==6.0.0
pandas==2.0.2
Pillow==9.5.0
psycopg2-binary==2.9.3
pytest==7.3.1
pytest-django==4.5.2
python-dotenv==1.0.0
